[Unit]
Description=Unload nvidia modules and turn dGPU off during boot
After=nvidia-fallback.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/turnoff_nvidia_at_boot

[Install]
WantedBy=multi-user.target
