[Unit]
Description=Unload nvidia modules and turn dGPU off during boot
After=nvidia-fallback.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c "rmmod nvidia_drm;rmmod nvidia_modeset; rmmod nvidia_uvm; rmmod nvidia; modprobe bbswitch; echo OFF > /proc/acpi/bbswitch"

[Install]
WantedBy=multi-user.target
